:root {
    font-family: "Trebuchet MS", sans-serif;
}

menu {
    border: 1px solid black;
    padding: 0;
    display: grid;
    grid-template-columns: 6rem 1fr 3rem 3rem;
    grid-template-rows: 1rem 1fr 1fr;
    grid-template-areas: "copyright copyright copyright copyright"
        "logo navigation github download"
        "logo navigation linkedin language";
    grid-auto-flow: column;

    * {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#copyright {
    grid-area: copyright;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5rem;
}

#logo {
    grid-area: logo;
    width: 6rem;
    height: 6rem;
}

#github {
    grid-area: github;
}

#linkedin {
    grid-area: linkedin;
}

#navigation {
    grid-area: navigation;
}

#lang {
    grid-area: language;
}

li::marker {
    font-size: 0;
}

li {
    border: 1px solid black;
}

nav {
    height: 100%;
    width: 100%;
    gap: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
    }

    a:hover {
        text-decoration: underline;
    }
}

#test-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;

    span {
        border: 1px solid black;
        padding: .5rem;
        font-size: 2rem;
    }
}

#arial {
    font-family: "Arial", sans-serif;
}

#courier {
    font-family: "Courier New", monospace;
}

#georgia {
    font-family: "Georgia", serif;
}

#times {
    font-family: "Times New Roman", serif;
}

#trebuchet {
    font-family: "Trebuchet MS", sans-serif;
}

#verdana {
    font-family: "Verdana", sans-serif;
}

#serif {
    font-family: serif;
}

#sans {
    font-family: sans-serif;
}

#mono {
    font-family: monospace;
}

#cursive {
    font-family: cursive;
}

#fantasy {
    font-family: fantasy;
}